body{

	font-family: 'Lato', sans-serif;
}
/*header section start*/
header{
background-color: #f6f9f9;
}
.logo{

padding:27px 0px;

}
/*header section end*/
/*banner section start*/
.banner{
background: url(../img/banner.png);
background-size:cover;
background-repeat:no-repeat;
height: 100vh;
padding:70px 0px;
text-align:center;
}
.banner h1{

font-size:120px;
color:white;
font-weight: bold;

}
.banner span{
border-bottom:2px solid #15a4fa;
width:89%;
display: block;
margin:30px auto;
	
	
}
.banner p{
color:white;
font-size:20px;
	
}
.btn{

margin:50px 0px;
padding:15px 22px;
background-color:#15a4fa0d;
border-color:#15a4fa;
color:white;
font-size:20px;
}
.btn:hover{

background-color:#157acabd ;
color:white;
box-shadow: 4px 6px 8px #15a4fa0d; 
}
.fa.fa-angle-down{

font-size:35px;
color:white;
margin-top:70px ;
}
/* banner section end*/
/*design section start*/
.design{
	background-color:#f6f9f9;
	text-align: center;
	padding:70px 0px;
}
.design h2{

font-size:40px;
margin-bottom:38px; 

}
.design p{

font-size:20px;
color:#bbbcbc;
}
/*design section end*/
/*feature section start*/

.single-feature{
text-align:center;
padding:58px 0px;
}
.single-feature h2{
font-size:22px;
margin:28px 0px;


}
.single-feature p{
    font-size:15px;
	color:#bbbcbc;
	padding:0px 21px;
}
.fa.fa-mobile{
font-size:60px;
background-color:#5fc3ff;
color:white;
padding:20px 35px;

}
.fa.fa-paper-plane{
font-size:60px;
background-color:#5fc3ff;
color:white;
padding:20px 29px;

}

.fa.fa-bullhorn{

font-size:60px;
background-color:#5fc3ff;
color:white;
padding:20px 29px;
}
/*feature section end*/

/*show section start*/
.show{
	padding:70px 0px;
	background-color:#f6f9f9;
}
.show-main{
text-align: center;
padding-bottom:70px;
}
.show-main h3{
font-size:43px;
font-family:lato-light;

}
.show-main p{
font-size:16px;
color:#bbbcbc;
margin:26px 0px;
}
.image-one{
margin:20px 0px;
position: relative;
overflow: hidden;

}
.image-hover{

position: absolute;
background-color: #15a4fa8f;
text-align: center;
width:100%;
height: 100%;
top:0;
right:-100%;
transition: 0.4s ease-in-out;
}

.btnn{

margin-left: 10px;
margin-top: 30%;
background-color:#15a4fa8f;
color:white;
border-color: white;

}
.image-one:hover
.image-hover{

right:0;

}
.fa.fa-search-plus{

padding:12px 10px;
font-size:20px;

}
.fa.fa-link{

padding:12px 10px;
font-size:20px;
}

/*show section end*/
/*stay section start*/
.stay{

background: url(../img/cont.png);
background-repeat: no-repeat;
background-size:cover;

}
.overlay{

	background-color:#2d384cc2;
	padding:70px 0px;
}
.stay-main{
text-align:center;
margin-bottom: 46px;
}
.stay-main h2{

font-size:41px ;
color:white;

}
.stay-main p{
font-size:15px;
color:#bbbcbc;
margin:15px 0px;
}
.form-control{
height:40px;
margin:9px 0px;
padding: 7px 12px;
background-color:#23313e26;
border-color:#73818ec9;
color:#bbbcbc;
}
.text{
width:100%;
height:151px;
margin: 7px 0px;
padding:7px 12px;	
background-color:#1d34482e;	
border-color:#5772a2ba;
color:#bbbcbc;
}
.footer-left{

margin:15px 0px;
color:white;
text-align:left; 

}
.footer-btn{

text-align:right;
}

.f-button{

padding:15px 71px;
color :white;
background-color:#171a2d4a;
border-color:#15a4fa; 

}
.f-button:hover{

background-color:#157acabd ;

}

}
/*stay section end*/
/*footer part start*/
footer{
padding:25px 0px;

}
.right{

padding: 30px 0px;
text-align:left;

}
.right p{
font-size:15px;
color:#bbbcbc;

}
.icons{

padding: 25px 0px;
text-align: right;
}
.icons ul{
list-style: none;

}
.icons ul li{
display: inline-block;
margin:0px 4px;


}
.fa.fa-facebook{

font-size:25px;
background-color:#15a4fa;
color:white;
padding:10px 15px;
transition: 0.4s ease;
}
.fa.fa-facebook:hover{
	transform:scale(1.2);
}
.fa.fa-twitter{
font-size:25px;
background-color:#15a4fa;
color:white;
padding:10px 15px;
transition: 0.4s ease;
}
.fa.fa-twitter:hover{
	transform:scale(1.2);

}
.fa.fa-glide-g{
font-size:25px;
background-color:#15a4fa;
color:white;
padding:10px 15px;
transition: 0.4s ease;
}
.fa.fa-glide-g:hover{
	transform:scale(1.2);
}

.fa.fa-linkedin{
font-size:25px;
background-color:#15a4fa;
color:white;
padding:10px 15px;
transition: 0.4s ease;
}
.fa.fa-linkedin:hover{
	transform:scale(1.2);
}
/*footer part end*/



/*mobile divce*/
@media(min-width: 0px) and (max-width: 500px){


.banner h1{

font-size:80px;
}
.fa.fa-angle-down{
	margin-top:10px;
}

.single-feature h2{
font-size:17px;
margin:20px 10px;
line-height: 14px;
}
.btnn{

margin-left: 10px;
margin-top: 30%;
background-color:#15a4fa8f;
color:white;
border-color: white;

}

.fa.fa-search-plus{

padding:7px 7px;
font-size:12px;

}
.fa.fa-link{

padding:7px 7px;
font-size:12px;
}

.fa.fa-facebook{

font-size:17px;
background-color:#15a4fa;
color:white;
padding:5px 10px;

}
.fa.fa-twitter{
font-size:17px;
background-color:#15a4fa;
color:white;
padding:5px 10px;

}
.fa.fa-glide-g{
font-size:17px;
background-color:#15a4fa;
color:white;
padding:5px 10px;

}
.fa.fa-linkedin{
font-size:17px;
background-color:#15a4fa;
color:white;
padding:5px 10px;

}
.f-button{

padding:15px 50px;
color :white;
background-color:#171a2d4a;
border-color:#15a4fa;
}

}
@media(min-width: 500.01px) and (max-width: 768){



}
@media(min-width:768.01px) and (max-width: 1200px){


}

@media(min-width: 1200.01px){


}